/*
Rain Test Using .PNG rain drops and requestAnimationFrame
You can copy and use this code freely in any kind of apps as a hobbist or professional
You are not allowed to redistribute or host this code and it's corresponding article anywhere else
Copyright © by Siavash Mortazavi
*/

body {
    background: black;
}


.rainCanvas{
    background-color: black;
    width: 100vw;
    height: 768px;
    position: absolute;
}

.flashing {
    
    -webkit-animation: flashAnim ease-out 1s;
    -moz-animation: flashAnim ease-out 1s;
    -o-animation: flashAnim ease-out 1s;
    animation: flashAnim ease-out 1s;
}

@keyframes flashAnim {
    0% { background: transparent; }
    55% { background: rgba(254, 255, 202, 0.27); }
    60% { background: transparent; }
    75% { background: rgba(254, 255, 202, 0.27); }
    80% { background: transparent; }
    95% { background: rgba(254, 255, 202, 0.27); }
    100% { background: transparent; }
}

@-moz-keyframes flashAnim {
    0% { background: transparent; }
    55% { background: rgba(254, 255, 202, 0.27); }
    60% { background: transparent; }
    75% { background: rgba(254, 255, 202, 0.27); }
    80% { background: transparent; }
    95% { background: rgba(254, 255, 202, 0.27); }
    100% { background: transparent; }
}

@-webkit-keyframes flashAnim {
      0% { background: transparent; }
    55% { background: rgba(254, 255, 202, 0.27); }
    60% { background: transparent; }
    75% { background: rgba(254, 255, 202, 0.27); }
    80% { background: transparent; }
    95% { background: rgba(254, 255, 202, 0.27); }
    100% { background: transparent; }
}

